
*{
  margin: 0;
  padding: 0;
}
.barra{
    padding: 5px;
    background-color: #585859;
    box-shadow: 0 10px 50px rgba(0,0,0,0.1);
    border-radius: 0px 0px 20px 20px;
    padding-left: 80px;
    border: 10px dashed #fff;
}
#intro{
    position: relative;
    text-align: end;
    right: 10%;
    color: #fff;
    font-size: 200%;
    padding-right: 10px;
    margin: 0;
  }
body{
  
  font-family: 'Black Ops One', cursive;
  background: #F0F0F2;
}

.menu{

  position: absolute;
  list-style:none;
  float: left;
  top: 15px;
  margin-right: 20%;
}
.menu li{
  position: relative;
  float: left;
  list-style: none;
  }
.menu li a{
  color: #F0F0F2; text-decoration: none; display: block;
}
.menu li a:hover{
  background: #585859;
  color: rgb(208, 230, 255);
  text-shadow: 10px #fff;
  font-size: large;
}
.menu ul li { 
  background: #585859;
  padding: 0.5em;
  transform: skew(-10deg);
  text-transform:uppercase;
  font-weight:bolder;
  transition:all 0.3s linear;
  border-radius: 10px;
}
.menu li ul{
  position: absolute;
  display: none;

}
.menu li:hover ul, .menu li.over ul{display: block;}
.menu li ul li{
  display: block;

}
